html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#keyboard {
    display: grid;
    justify-content: start;
}

#main {
    height: 100%;
    background-color: #ddd;
}

#main:focus {
    background-color: burlywood;
}

textarea, button {
    margin-top: 2px;
}

.key {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1px;
    margin-top: 2px;
    height: 40px;
    font-family: monospace;
    box-shadow: 1px 2px #aaa;
}

.space {
    border-color: white;
    color: white;
    height: 40px;
}

.centered {
    text-align: center;
    display: block;
}

.note {
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius: 3px;
    margin: 5%;
    height: 15px;
    text-align: center;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.char {
    position: relative;
    left: 10%;
    top: 10%;
}